<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
       <form class="login-form" action="/signup" method="POST" novalidate>
  <% const emailError = validationErrors.find(e => e.path === 'email'); %>
  <% const passwordError = validationErrors.find(e => e.path === 'password'); %>
  <% const confirmError = validationErrors.find(e => e.path === 'confirmPassword'); %>

  <div class="form-control">
    <label for="email">E-Mail</label>
    <input
      class="<%= emailError ? 'invalid' : '' %>"
      type="email"
      name="email"
      id="email"
      value="<%= oldInput.email %>"
    >
    <% if (emailError) { %>
      <p class="error-text"><%= emailError.msg %></p>
    <% } %>
  </div>

  <div class="form-control">
    <label for="password">Password</label>
    <input
      class="<%= passwordError ? 'invalid' : '' %>"
      type="password"
      name="password"
      id="password"
      value="<%= oldInput.password %>"
    >
    <% if (passwordError) { %>
      <p class="error-text"><%= passwordError.msg %></p>
    <% } %>
  </div>

  <div class="form-control">
    <label for="confirmPassword">Confirm Password</label>
    <input
      class="<%= confirmError ? 'invalid' : '' %>"
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      value="<%= oldInput.confirmPassword %>"
    >
    <% if (confirmError) { %>
      <p class="error-text"><%= confirmError.msg %></p>
    <% } %>
  </div>

  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <button class="btn" type="submit">Signup</button>
</form>
